.cadenceSelect {
	position: relative;
	font-family: Arial;
}

.cadenceSelect select {
	display: none;
}

.cadenceSelect-selected {
	background-color: DodgerBlue;
}

.cadenceSelect-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.cadenceSelect-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.cadenceSelect-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.cadenceSelect-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.cadenceSelect-hide {
  display: none;
}
.cadenceSelect-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}